.all{
    margin: 22px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #cacaba;
}

#num, #our_email{
    font-size: 1.25rem;
}

#num span, #our_email span{
    font-weight: 700;
}

.all p{
    margin: 0;
}

@media(max-width:550px){
    #num, #our_email{
        font-size: 1.15rem;
    }
}

@media(max-width:450px){
    #num, #our_email{
        font-size: 1rem;
    }
}
